{
  "log": {
    "_recordingName": "SendMessage",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2be389cd9ffd1301dbd2188322a5b9c6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"phone\":\"INSERT-TEST-NUMBER\",\"message\":\"Hello!\",\"key\":\"2b0df60c5c58f5039b1c064b9116dfaab289a5ebIdMZtnu5Pqu9zZCJFJz2nXDmV\"}"
          },
          "queryString": [],
          "url": "https://textbelt.com/text"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 151,
            "text": "{\"success\":false,\"error\":\"Invalid phone number or bad request. If your phone number contains a +, please check that you are URL encoding it properly.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 558,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
